html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    height: 130px;
}
header h1 {
    margin: 0;
    line-height: 80px;
    width: 100%;
    background-color: #2E3244;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}
header ul {
    width: 100%;
    height: 50px;
    background-color: #C5C6C6;
    margin: 0;
    padding-left: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul li {
    cursor: default;
    list-style: none;
    height: 30px;
    border-radius: 15px;
    margin: 0 5px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E3244;
    font-weight: bold;
    font-size: 15px;
    background-color: #F1895C;
}
main {
    min-height: calc(100vh - 150px);
    width: 90%;
    margin: auto;
}
main .sae-status {
    display: flex;
    align-items: center;
}
main .sae-status h2 {
    font-size: 25px;
}
main .sae-status span {
    margin: 7.5px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}
main .sae-status #red {
    background-color: red;
    animation: 1s linear infinite alternate opacity;
}
@keyframes opacity {
    from { opacity: 1; }
    to   { opacity: 0; }
}
main .sae-status #green {
    background-color: green;
}
footer {
    height: 20px;
    width: 100%;
    background-color: #2E3244;
    margin: 0;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}