@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;600&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
header nav {
    width: 90%;
    height: 60px;
    display: flex;
    border-radius: 30px;
    margin: 20px 5%;
    background-color: rgba(33, 47, 60, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 2000;
    transition: width 0.8s ease-in-out;
}
header nav img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 5px;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: calc(100% - 120px);
    padding-left: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    font-size: 20px;
    padding: 0 20px;
    white-space: nowrap;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
header span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
header .navigationOnPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 70px;
    right: 25px;
    top: calc(50vh - 35px);
    z-index: 2000;
}
header .navigationOnPage a {
    font-size: 25px;
    margin: 5px 0;
    color: #000;
    transition: color 0.4s;
    transition: opacity 0.4S;
}
main {
    width: 100%;
}
main section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
main section .container {
    width: 100%;
    background-color: rgba(23, 32, 42, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main h2 {
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0;
    line-height: 60px;
    text-align: center;
}
main a {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: white;
    color: #000;
    text-decoration: none;
}
#dailymotion {
    background-image: url('../media/dailymotion.webp');
}
#serveur {
    background-image: url('../media/serveur.webp');
}
#voiture {
    background-image: url('../media/voiture.jpg');
}
