@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;600&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
@media only screen and (max-width : 1080px) {
    header #nav {
        display: none;
    }
    header #mobileNav {
        width: 90%;
        height: 60px;
        border-radius: 30px;
        margin: 20px 5%;
        background-color: rgba(95, 95, 95, 0.5);
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        z-index: 2000;
        transition: height 0.8s ease-in-out;
        overflow: hidden;
    }
    header #mobileNav span {
        width: 100%;
        height: 60px;
        border-radius: 30px;
    }
    header #mobileNav span img {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin: 5px;
        float: left;
    }
    header #mobileNav i {
        width: calc(100% - 120px);
        height: 60px;
        margin-right: 60px;
        border-radius: 30px;
        float: right;
        line-height: 60px;
        text-align: center;
        transition: transform 0.4s;
    }
    header #mobileNav ul {
        height: auto;
        width: 100%;
        border-radius: 30px;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    header #mobileNav ul li {
        height: 50px;
        width: calc(100% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 5px;
        border-radius: 30px;
        line-height: 60px;
        text-align: center;
        transition: background 0.4s;
    }
    header #mobileNav ul li:hover {
        background-color: rgba(75, 75, 75, 0.5);
    }
    header #mobileNav ul a {
        line-height: 50px;
        text-decoration: none;
        color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    footer .all-duocloud {
        flex-direction: column;
    }
    footer .all-duocloud .navsec {
        width: 100%;
    }
    footer .legal-data {
        flex-direction: column;
    }
    footer .legal-data .data-links {
        padding: 10px 20px;
    }
}
@media only screen and (min-width : 1080px) {
    header #mobileNav {
        display: none;
    }
    header #nav {
        width: 90%;
        height: 60px;
        display: flex;
        border-radius: 30px;
        margin: 20px 5%;
        background-color: rgba(95, 95, 95, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        z-index: 2000;
        transition: width 0.8s ease-in-out;
    }
    header #nav img {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin: 5px;
    }
    header #nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: calc(100% - 120px);
        padding-left: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
    }
    header #nav ul li {
        font-size: 20px;
        padding: 0 20px;
        white-space: nowrap;
    }
    header #nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    footer .all-duocloud .navsec {
        width: calc(100% / 3);
    }
    footer .legal-data .data-links {
        padding: 0 20px;
    }
}
header span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
header .navigationOnPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 70px;
    right: 25px;
    top: calc(50vh - 35px);
    z-index: 2000;
}
header .navigationOnPage a {
    font-size: 25px;
    margin: 5px 0;
    color: #fff;
    transition: color 0.4s;
    transition: opacity 0.4S;
}
header .pageName {
    height: 200px;
    margin: 100px auto 20px auto;
    width: 90%;
    background-color: #3f87a6;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
header .pageName .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 32, 42, 0.5);
    border-radius: 30px;
}
header .pageName .container h1 {
    font-size: 70px;
    color: white;
}
main {
    width: 90%;
    margin: auto;
    min-height: 100px;
}
/*Footer*/
footer {
	width: 100%;
	min-height: 400px;
	background: #464646;
}
footer .all-duocloud {
	width: 80%;
	min-height: 339px;
	margin: auto;
	display: flex;
}
footer .all-duocloud .navsec {
	height: 100%;
	font-size: 15px;
	display: flex;
    flex-direction: column;
}
footer .all-duocloud .navsec h3 {
	margin: 0;
    padding: 40px 0;
    color: #E1E1E1;
    font-weight: 500;
}
footer .all-duocloud .navsec a {
	margin: 0;
    padding: 10px 0;
    color: #E1E1E1;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.1s;
}
footer .all-duocloud .navsec a:hover {
	text-decoration: underline;
	color: #3f87a6;
}
footer .legal-data {
	width: 80%;
	min-height: 60px;
	display: flex;
    align-items: center;
    justify-content: center;
	margin: auto;
	border-top: 1px solid #E1E1E1;
}
footer .legal-data .data-links a {
	color: #E1E1E1;
	text-decoration: none;
}
footer .legal-data .data-links a:hover {
	text-decoration: underline;
}
