@media only screen and (max-width : 1080px) {
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    section .text {
        width: 90%;
        margin: auto;
        order: 1;
    }
    section .text h2 {
        text-align: center;
    }
    section .text p {
        text-align: justify;
    }
    section img {
        order: 2;
        display: block;
        width: 90%;
        margin: 20px 5%;
        border-radius: 30px;
        box-shadow: 0px 35px 50px rgb(0 0 0 / 20%);
    }
}
@media only screen and (min-width : 1080px) {
    section {
        width: 100%;
        display: flex;
        align-items: center;
    }
    section .text {
        width: 100%;
    }
    section .text h2 {
        text-align: center;
    }
    section .text p {
        text-align: justify;
        width: 90%;
        margin: auto;
    }
    section img {
        display: block;
        width: 45%;
        margin: 20px 2.5%;
        border-radius: 30px;
        box-shadow: 0px 35px 50px rgb(0 0 0 / 20%);
    }
}
