main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main h2 {
    text-align: center;
    margin: 20px 0 20px 0;
}
main span {
    text-align: center;
    margin: 2px 0;
}
main a {
    color: #000;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}