@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;600&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
html::-webkit-scrollbar { width: 0 !important }
@media only screen and (max-width : 1080px) {
    header #nav {
        display: none;
    }
    header #mobileNav {
        width: 90%;
        height: 60px;
        border-radius: 30px;
        margin: 20px 5%;
        background-color: rgba(175, 175, 175, 0.5);
        backdrop-filter: blur(5px);
        position: fixed;
        z-index: 2000;
        transition: height 0.8s ease-in-out;
        overflow: hidden;
    }
    header #mobileNav span {
        width: 100%;
        height: 60px;
        border-radius: 30px;
    }
    header #mobileNav span img {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin: 5px;
        float: left;
    }
    header #mobileNav i {
        width: calc(100% - 120px);
        height: 60px;
        margin-right: 60px;
        border-radius: 30px;
        float: right;
        line-height: 60px;
        text-align: center;
        transition: transform 0.4s;
    }
    header #mobileNav ul {
        height: auto;
        width: 100%;
        border-radius: 30px;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    header #mobileNav ul li {
        height: 50px;
        width: calc(100% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 5px;
        border-radius: 30px;
        line-height: 60px;
        text-align: center;
        transition: background 0.4s;
    }
    header #mobileNav ul li:hover {
        background-color: rgba(75, 75, 75, 0.5);
    }
    header #mobileNav ul a {
        line-height: 50px;
        text-decoration: none;
        color: #fff;
    }
    main h2 {
        max-width: 80vw;
        font-size: 40px;
        font-weight: bold;
        margin: 40px 0;
        line-height: 40px;
        text-align: center;
    }
    #dailymotion .container h2 {
        display: flex;
        flex-direction: column;
    }
    #dailymotion .container img {
        height: 40px;
    }
    #dailymotion .container p {
        max-width: 80vw;
    }
}
@media only screen and (min-width : 1080px) {
    header #mobileNav {
        display: none;
    }
    header #nav {
        width: 90%;
        height: 60px;
        display: flex;
        border-radius: 30px;
        margin: 20px 5%;
        background-color: rgba(175, 175, 175, 0.5);
        backdrop-filter: blur(5px);
        position: fixed;
        z-index: 2000;
        transition: width 0.8s ease-in-out;
    }
    header #nav img {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin: 5px;
    }
    header #nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: calc(100% - 120px);
        padding-left: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
    }
    header #nav ul li {
        font-size: 20px;
        padding: 0 20px;
        white-space: nowrap;
    }
    header #nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    main h2 {
        max-width: 80vw;
        font-size: 60px;
        font-weight: bold;
        margin: 30px 0;
        line-height: 60px;
        text-align: center;
    }
    #dailymotion .container h2 {
        display: flex;
    }
    #dailymotion .container img {
        height: 60px;
        padding: 2px 0 0 15px;
    }
    #dailymotion .container p {
        max-width: 80vw;
    }
}
header span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
header .navigationOnPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 70px;
    right: 25px;
    top: calc(50vh - 35px);
    z-index: 2000;
}
header .navigationOnPage a {
    font-size: 25px;
    margin: 5px 0;
    color: #fff;
    transition: color 0.4s;
    transition: opacity 0.4S;
}
main {
    width: 100%;
}
main section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
main section .container {
    width: 100%;
    background-color: rgba(23, 32, 42, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main a {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: white;
    color: #000;
    text-decoration: none;
}
#dailymotion {
    background-image: url('../media/dailymotion_cover.webp');
}
#histoire {
    background-image: url('../media/histoire_cover.webp');
}
#audience {
    background-image: url('../media/audience_cover.webp');
}
#createurs {
    background-image: url('../media/createurs_cover.webp');
}
#services {
    background-image: url('../media/services_cover.webp');
}